a,
.cursor-pointer,
a *,
.cursor-pointer * {
  cursor: pointer;
}

.cursor {
  width: 30px;
  height: 30px;
  background: #f7f7f7;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  z-index: 99999;
  mix-blend-mode: difference;
  transition: 150ms ease;
  transition-property: border, opacity, background-color, transform,
    mix-blend-mode;
}
.cursor--hidden {
  opacity: 0;
}
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fefefe;
}
.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(2);
  background-color: transparent;
  border: 1px solid #f7f7f7;
}